@{
    ViewData["Title"] = "Bestelling Betaald";
}

<h2>Bestelling Betaald</h2>
<p>Uw bestelling is succesvol als betaald gemarkeerd.</p>
<a asp-area="User" asp-controller="Produkt" asp-action="List" class="btn btn-info">Terug naar producten</a>