@{
    ViewData["Title"] = "Geen Bestelling Gevonden";
}

<h2>Geen Bestelling Gevonden</h2>

<p>Er is momenteel geen bestelling geplaatst.</p>

<a asp-area="User" asp-controller="Produkt" asp-action="List">Terug naar producten</a>
