@model The_Bread_Pit.Models.Produkt

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin Produkt Toevoegen";
}

<h1>Produkt Toevoegen</h1>

<form asp-area="Admin" asp-controller="Produkt" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="ProduktNaam"></label>
        <input asp-for="ProduktNaam" class="form-control" />
        <span asp-validation-for="ProduktNaam" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prijs"></label>
        <input asp-for="Prijs" class="form-control" />
        <span asp-validation-for="Prijs" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryID">Categorie</label>
        <select asp-for="CategoryID" asp-items="@(new SelectList(ViewBag.Categorieen, "CategoryID", "CategorieNaam"))" class="form-control"></select>
    </div>

    <div class="form-group">
        <label asp-for="Omschrijving"></label>
        <textarea asp-for="Omschrijving" class="form-control"></textarea>
        <span asp-validation-for="Omschrijving" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Allergieën">Allergieën</label>
        <textarea asp-for="Allergieën" class="form-control">@Model.Allergieën</textarea>
        <span asp-validation-for="Allergieën" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Extra">Extra</label>
        <textarea asp-for="Extra" class="form-control">@Model.Extra</textarea>
        <span asp-validation-for="Extra" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Opslaan</button>

    <a asp-controller="Produkt" asp-action="List" class="btn btn-outline-primary">Terug</a>
</form>
