@{
    ViewBag.Title = "About";
}

<h1>Over ons</h1>
<div>
    <h4>Op onze site kun je terecht om lekker eten en drinken te bestellen</h4>
    <h5>Bedankt om ons te bezoeken</h5>
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Home</a>
</div>