@{
    ViewBag.Title = "Home";
}

<div style="display: flex; justify-content: center; flex-direction: column; text-align: center;">
    <h1>Welkom op de website van The Bread Pit</h1>
</div>
    <h4 style="display: flex; justify-content: center; padding:20px;">Om verder te gaan moet u eerst inloggen</h4>
    <p style="display: flex; justify-content: center; padding:20px;">Indien u nog geen login heeft dient u zich eerst te registreren</p>
<div style="display: flex; justify-content: center; padding:20px">
    <img src="~/images/homepage.png" alt="Homepage" style="max-width:100%; max-height:100vh; height:auto;" />
</div>