@{
    ViewBag.Title = "Home";
}

<div style="display: flex; justify-content: center; flex-direction: column; text-align: center;">
    <h1>Welkom op de website van The Bread Pit</h1>
</div>
<div style="display: flex; justify-content: center; padding:20px">
    <img src="~/images/homepage.png" alt="Homepage" />
</div>