@{
    ViewBag.Title = "Home";
}

<h1>Welkom op de website van The Bread Pit</h1>
<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a asp-controller="Produkt" asp-action="List" class="list-group-item text-primary">Bekijk hier onze produkten</a>
            <a asp-controller="Home" asp-action="About" class="list-group-item text-primary">Over ons</a>
        </div>
    </div>
</div>