@{
    ViewData["Title"] = "Bevestiging gebruiker";
}

<h2>Gebruiker Bevestigd</h2>

<p>De gebruiker is succesvol bevestigd.</p>

<a asp-controller="AccountManagement" asp-action="Klanten" class="btn btn-primary">Terug naar Klant Beheer</a>
