@{
    ViewData["Title"] = "Wachtwoord Reset";
}

<h2>@ViewData["Title"]</h2>

<p>Er is een mail verstuurd met de vraag om een nieuw wachtwoord te registreren.</p>

<a href="@Url.Action("Personeel", "AccountManagement", new { area = "Admin" })" class="btn btn-primary">Terug naar overzicht personeel beheer</a>
