@page
@model LogoutModel
@{
  ViewData["Title"] = "Log Uit";
}

<header>
  <h1>@ViewData["Title"]</h1>
  @{
    // Controleer of de gebruiker is ingelogd
    if (User.Identity?.IsAuthenticated ?? false)
    {
      // Formulier om uit te loggen
      <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Klik hier om uit te loggen</button>
      </form>
    }
    else
    {
      <p>U bent succesvol uitgelogd uit de applicatie.</p>
    }
  }
</header>
